*{margin: 0; padding: 0; box-sizing: border-box;}
a{text-decoration: none; color: black;}
ul{list-style: none;}

@font-face {
    font-family: 'GangwonEdu_OTFBoldA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body{font-size: 18px; line-height: 30px; font-family: 'GangwonEdu_OTFBoldA';}

.header{width: 100%; height: 730px; position: relative;}
.logo{width: 164px; height: 46px; position: absolute; top: 10px; left: 50%; margin-left: -82px; z-index: 2;}

.login{width: 400px; position: absolute; top: 10px; right: 70px; z-index: 2;}
.login ul li{float: left; width: 25%; text-align: center; }
.login ul li a{font-family: '굴림'; font-size: 13px; }

.box1{background: url(../images/bg1.jpg) no-repeat; width: 100%; height: 853px;}
.nav{background: url(../images/bg.png) no-repeat; width: 1018px; height: 50px; margin: auto; padding: 13px;}
.nav ul li{float: left; width: 25%; text-align: center;}
.nav ul li a{color: white; font-size: 20px;}

.subbox1{width: 1320px; margin: 100px auto; text-align: center;}
.subbox1 div{float: left; margin: 30px 70px;}
.subbox1 img{display: block;}
.sb_1{width: 400px; }
.sb_1 p{background-color: white; text-align: center;}

.sb_2{padding-top: 100px;}
.sb_2 p{background-color: white; text-align: center;}

.sb_3{padding-top: 100px;}
.sb_3 p{background-color: white; text-align: center;}

.subbanner{width: 1320px; margin: 150px auto;}

.box2{width: 100%; height: 1196px; margin-top: 100px; position: relative;}
.video{opacity: 70%;}

.img1{position: absolute; top: 250px; left: 300px; z-index: 2;}
.img2{position: absolute; top: 50px; left: 600px; z-index: 1;}
.img3{position: absolute; top: 50px; right: 300px;}
.img4{position: absolute; bottom: 50px; left: 50%; margin-left: -500px;}
.img5{position: absolute; top:50%; left: 50%; margin-left: -80px; margin-top: -35px; z-index: 0;}

.bottom{width: 100%; height: 1160px; background: url(../images/bg3.png) 100%; margin-top: 100px;}

.is{width: 1320px; margin: auto;}
.is h2{text-align: center;}
.is_inner{width: 1320px; background-color: #dbbda4; height: 620px; padding: 50px 0px;}
.is_inner div{float: left;}

/*인스타1*/
.is1{background: url(../images/isbg.png); width: 402px; height: 520px; margin: 0px 19px; }
.is1_top{width: 402px; height: 50px; padding: 11px;}
.is1_top ul li{float: left; margin-right: 10px;}
.is1_top ul li:nth-child(3){float: right;}
.is1_center img{display: block;}
.is1_bottom{padding: 5px; height: 70px; position: relative;}
.is1_bottom ul li{float: left; margin-right: 10px;}
.is1_bottom ul li:nth-child(4){margin-left: 230px;}
.is1_bottom ul li:nth-child(1){margin-left: 5px;}
.is1_bottom>p{position: absolute; top: 35px; left: 10px;}

/*팝업*/
.warp1{width: 100%; height: 100%; background-color: rgba(0,0,0,0.5); position: fixed; top: 0; left: 0; font-size: 15px; z-index: 2;  display: none;}
.warp2{width: 100%; height: 100%; background-color: rgba(0,0,0,0.5); position: fixed; top: 0; left: 0; font-size: 15px; z-index: 2;  display: none;}
.warp3{width: 100%; height: 100%; background-color: rgba(0,0,0,0.5); position: fixed; top: 0; left: 0; font-size: 15px; z-index: 2;  display: none;}


.popup{width: 1200px; height: 900px; margin: auto; position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); }
.p_img{width: 650px; height: 900px; float: left; background-color: black; padding: 124px 0px;
}
.p_img img{width: 100%;}
.p_text{width: 550px; height: 900px; background-color: white; float: right;}
.t1{width: 550px; height: 70px; border-bottom: 1px solid #ccc; padding: 20px 10px;}
.t1 ul li{float: left; margin: 0px 10px; }
.t1 ul li:nth-child(4){float: right;}
.t1 a{color:deepskyblue; font-weight: bold;}
.t2{margin-top: 10px; height: 670px;border-bottom:1px solid #ccc; padding: 20px;}
.t2 ul{height: 30px;}
.t2 ul li{float: left; margin: 0px 10px;}
.t2>p{ margin: -20px 10px; clear: both;}
span{color: darkblue;}
.t3 ul{height: 50px;}
.t3 ul li{float: left; margin: 10px}
.t3 ul li:nth-child(4){margin-left: 340px;}
.t3 p{margin: 0px 10px; height: 30px; text-align: left; clear: both;}
.t3 span{font-size: 12px; color: black; padding-top:10px}
.X{position: absolute; top: 30px; right: 30px; color: white; font-size: 20px;}

/*인스타2*/
.is2{background: url(../images/isbg.png); width: 402px; height: 520px; margin: 0px 19px;}
.is2_top{width: 402px; height: 50px; padding: 11px;}
.is2_top ul li{float: left; margin-right: 10px;}
.is2_top ul li:nth-child(3){float: right;}
.is2_center img{display: block;}
.is2_bottom{padding: 5px; height: 70px; position: relative;}
.is2_bottom ul li{float: left; margin-right: 10px;}
.is2_bottom ul li:nth-child(4){margin-left: 230px;}
.is2_bottom ul li:nth-child(1){margin-left: 5px;}
.is2_bottom>p{position: absolute; top: 35px; left: 10px;}

/*인스타3*/
.is3{background: url(../images/isbg.png); width: 402px; height: 520px; margin: 0px 19px;}
.is3_top{width: 402px; height: 50px; padding: 11px;}
.is3_top ul li{float: left; margin-right: 10px;}
.is3_top ul li:nth-child(3){float: right;}
.is3_center img{display: block;}
.is3_bottom{padding: 5px; height: 70px; position: relative;}
.is3_bottom ul li{float: left; margin-right: 10px;}
.is3_bottom ul li:nth-child(4){margin-left: 230px;}
.is3_bottom ul li:nth-child(1){margin-left: 5px;}
.is3_bottom>p{position: absolute; top: 35px; left: 10px;}

/*푸터*/
.footer{width: 100%; height: 335px; background: url(../images/bg4.png) no-repeat 100%; margin-top: 175px; font-family: 'GangwonEdu_OTFBoldA';}

.footer_inner{width: 1320px; margin:auto; height: 335px; text-align: center; padding: 50px 0px;}
.f_box1{width: 350px; height: 50px; margin:auto;}
.f_box1 ul li{float: left; margin: 0px 10px;}

.f_box2{width: 500px; margin: 50px auto;}
.f_box2_1{height: 40px;}
.f_box2_1 ul li{float: left; width: 25%; text-align: center;}
.f_box2_2{text-align: center;}